<section class="jumbotron text-center">
    <div class="container">
    <h1 class="jumbotron-heading">Welcome {{#if loggedIn}}{{user.firstName}} {{user.lastName}}{{/if}} to D.E Investor!</h1>
    <p class="lead text-muted">This a early access website which will give a recap over the gains or just a overall recap of the capital a investor has invested.</p>
    </div>
</section>