<link href="homeBackgroundCss.css" rel="stylesheet">

<section class="jumbotron text-center" id="Jumbatron">
    <div class="container">
    <h1 class="jumbotron-heading">Welcome {{#if loggedIn}}{{user.firstName}} {{user.lastName}}{{/if}} to Ekerothinvest!</h1>
    <p class="lead text-muted">This a early access website which will give a recap over the gains or just a overall recap of the capital a investor has invested.</p>
    <p class="lead text-muted">The site is now also available on <a href="http://www.ekerothinvest.se">ekerothinvest.se</a>.</p>
    </div>
</section>

